{% extends "admin_vip_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="background-color: white; padding: 20px;">
	<div class="row" style="padding: 20px;">
		<div class="col-6">
			<h3>会员消费记录</h3>
		</div>
		<table class="table">
			<thead>
				<td>编号</td>
				<td>时间</td>
				<td>金额</td>
				<td>卡号</td>
				<td>会员名</td>
				<td>记录员</td>
				<td>操作</td>
			</thead>
			<tbody>
				{% for i in record %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{i.date|date:"Y-m-d H:m"}}</td>
					<td>{{i.total|floatformat}}</td>
					<td>{{i.vip.card_no}}</td>
					<td>{{i.vip.holder}}</td>
					<td>{{i.recorder.user.first_name}}</td>
					<td><a href="/accounting/administrator/bill/view?income_id={{i.id}}" class="btn btn-primary">查看详细</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}