{% extends "admin_member_base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
	var options_innerHTML = {% for i in jobs%}"<option value='{{i.id}}' priviledge='{{i.priviledge}}'>{{i.name}}</option>" + {% endfor %} "";
</script>
<div class="container" style="background-color: white; padding: 20px;">
	<div class="row" style="padding: 20px;">
		<div class="col-6">
			<h3>系统授权管理</h3>
		</div>
		<table class="table">
			<thead>
				<td>编号</td>
				<td>姓名</td>
				<td>用户名</td>
				<td>密码</td>
				<td>操作</td>
			</thead>
			<tbody>
				{% for i in record %}
				<tr>
					<form id="form_{{i.id}}"style="width: 100%;" action="/accounting/administrator/member/auth/" method="POST">
					{% csrf_token %} 
						<td>{{forloop.counter}}</td>
						<td>{{i.staff.name}}</td>
						<td><input type="input" name="username_{{i.id}}" value="{{i.user.username}}"/></td>
						<td><input type="password" name="password_{{i.id}}" /></td>
						<td>
							<input type="hidden" id="sys_no" name="sys_no" value="{{i.id}}" />
							<input type="hidden" name="delete_element" value="delete_element" />
							<button class='btn btn-warning' type="button" name="update_element" onclick="update_element_method('form_{{i.id}}')">更新信息</button>
						</td>
					</form>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}