{% extends "admin_vip_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="background-color: white; padding: 20px;">
	<div class="row" style="padding: 20px;">
		<div class="col-12">
			<h3>{{vip.holder}}消费记录</h3>
		</div>
		<div class="col-12 text-center">
			<div class="btn-group">
				{% for i in pages_number %}
					<a class="btn btn-outline-primary {%if page_no == i %}active{% endif %}" href="/accounting/administrator/VIP/viewbill?page={{i}}">{{i|add:"1"}}</a>
				{% endfor %}
			</div>
		</div>
		<table class="table">
			<thead>
				<td>编号</td>
				<td>时间</td>
				<td>金额</td>
				<td>卡号</td>
				<td>记录员</td>
				<td>操作</td>
			</thead>
			<tbody>
				{% for i in records %}
				<tr>
					<td>{{forloop.counter|add:base_no}}</td>
					<td>开台：{{i.date|date:"Y-m-d H:m"}}<br>结账：{{i.paid_date|date:"Y-m-d H:m"}}</td>
					<td>{{i.total|floatformat}}</td>
					<td>{{i.vip.card_no}}</td>
					<td>{{i.recorder.user.first_name}}</td>
					<td><a href="/accounting/administrator/bill/view?income_id={{i.id}}" class="btn btn-primary">查看详细</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="col-12 text-center">
			<div class="btn-group">
				{% for i in pages_number %}
					<a class="btn btn-outline-primary {%if page_no == i %}active{% endif %}" href="/accounting/administrator/VIP/viewbill?page={{i}}">{{i|add:"1"}}</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-12 text-center">
			<a class="btn btn-secondary" href="/accounting/administrator/VIP/">返回</a>
		</div>
	</div>
</div>
{% endblock %}