{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>浴池收费系统 - 管理员</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/accounting.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>
		<script src="{%static 'js/validator.min.js'%}"></script>
        <script src="{%static 'js/common.js'%}"></script>
		<script src="{%static 'js/admin.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarColor01">
    				<ul class="navbar-nav mr-auto">
    					{%if tag == "bill" %}
        				<li class="nav-item active">
        				{%else%}
        				<li class="nav-item">
        				{%endif%}
        					<a class="nav-link" href="/accounting/administrator/bill/">账目管理</a>
        				</li>
        				{%if tag == "service" %}
        				<li class="nav-item active">
        				{%else%}
        				<li class="nav-item">
        				{%endif%}
        					<a class="nav-link" href="/accounting/administrator/service/">服务管理</a>
        				</li>
        				{%if tag == "staff" %}
        				<li class="nav-item active">
        				{%else%}
        				<li class="nav-item">
        				{%endif%}
        					<a class="nav-link" href="/accounting/administrator/member/">人员管理</a>
        				</li>
        				{%if tag == "payment" %}
        				<li class="nav-item active">
        				{%else%}
        				<li class="nav-item">
        				{%endif%}
        					<a class="nav-link" href="/accounting/administrator/payment-method/">付款方式</a>
        				</li>
        				{%if tag == "vip" %}
        				<li class="nav-item active">
        				{%else%}
        				<li class="nav-item">
        				{%endif%}
        					<a class="nav-link" href="/accounting/administrator/VIP/">会员管理</a>
        				</li>
      				</ul>
    			</div>
  			</nav>

            <div class="row" style="background-color: white; width:auto; padding-top: 20px; padding-bottom: 20px; margin: 0;">
                <div class="col-2 text-center">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        {%if label == "index" %}<a class="nav-link active show">
                        {%else%}<a class="nav-link" href="/accounting/administrator/VIP/">{%endif%}
                            会员管理
                        </a>
                        {%if label == "topuprecord" %} <a class="nav-link active show">
                        {%else%}<a class="nav-link" href="/accounting/administrator/VIP/topuprecord/">{%endif%}
                            充值记录
                        </a>
                        {%if label == "paymentrecord" %} <a class="nav-link active show">
                        {%else%}<a class="nav-link" href="/accounting/administrator/VIP/paymentrecord/">{%endif%}
                            消费记录
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>