{% extends "admin_bill_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="background-color: white; padding: 20px;">
	<div class="row" style="padding: 20px;">
		<div class="col-6">
			<h3>账目管理</h3>
		</div>
		<div class="col-6 text-right">
			{% if total %}
			<h3>总收入：{{total|floatformat}}</h3>
			{% endif %}
		</div>
		<div class="col-12 text-center">
			<div class="btn-group">
				{% for i in pages_number %}
					<a class="btn btn-outline-primary {%if page_no == i %}active{% endif %}" href="/accounting/administrator/bill/deleted?page={{i}}">{{i|add:"1"}}</a>
				{% endfor %}
			</div>
		</div>
		<table class="table">
			<thead>
				<td>编号</td>
				<td>时间</td>
				<td>金额</td>
				<td>支付方式</td>
				<td>删除人</td>
				<td>删除服务名称</td>
				<td>操作</td>
				<td>备注</td>
			</thead>
			<tbody>
				{% for i in records %}
				<tr>
					<td>{{forloop.counter|add:base_no}}</td>
					<td>{{i.income.date|date:"Y-m-d H:m"}}</td>
					<td>{{i.income.total|floatformat}}</td>
					<td>{{i.income.payment_method.name}}</td>
					<td>
						{% if i.recorder.role == "cashier" %}
							{{i.recorder.user.first_name}}
						{% elif i.recorder.role == "waiter" %}
							{{i.staff.name}}
						{% endif %}
					</td>
					<td>{{i.item.name}}</td>
					<td><a href="/accounting/administrator/bill/view?income_id={{i.income.id}}" class="btn btn-primary">查看详细</td>
					<td>
						{% if i.income.is_deleted %}
						<div class="alert alert-danger" role="alert">已销台</div>
						{% else %}
						<div class="alert alert-warning" role="alert">已付款但有删除项目</div>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="col-12 text-center">
			<div class="btn-group">
				{% for i in pages_number %}
					<a class="btn btn-outline-primary {%if page_no == i %}active{% endif %}" href="/accounting/administrator/bill/deleted?page={{i}}">{{i|add:"1"}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}