{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>浴池收费系统</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/accounting.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>
		<script src="{%static 'js/validator.min.js'%}"></script>
		<script src="{%static 'js/common.js'%}"></script>
		<script src="{%static 'js/cashier.js'%}"></script>
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>