{% extends "cashier_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="background-color: white; padding: 20%;">
	<div class="card">
		<div class="card-header text-center">
			<h3>新建洗浴卡</h3>
		</div>
		<div class="card-body">
	<form action="/accounting/cashier/bill/create/" method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-3">
				<label for="card_no">手牌号：</label>
			</div>
			<div class="col-9">
				<input class="form-control" id="card_no" name="card_no" type="input" />
			</div>
			<div class="col-3">
				<label for="item_no">性别：</label>
			</div>
			<div class="col-9">
				<select class="custom-select" name="item_no" id="item_no">
					<option value="0">男</option>
					<option value="1">女</option>
				</select>
			</div>
			<div class="col-12 text-center">
				<button class="btn btn-primary">确认开卡</button>
				<a class="btn btn-secondary" href="/accounting/cashier/bill/">返回</a>
			</div>
		</div>
	</form>
		</div>
	</div>
</div>
{% endblock %}