{% extends "cashier_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="background-color: white; padding: 20px;">
	<div class="row" style="padding: 20px;">
		<div class="col-6">
			<h3>{{income.card_no|add:"1"}}号顾客结账</h3>
		</div>
		<table class="table table-condensed table-bordered table-striped">
			<thead>
				<td>编号</td>
				<td>服务项目名称</td>
				<td>单价</td>
				<td>数量</td>
			</thead>
			<tbody>
				{% for i in services %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{i.item.name}}</td>
					<td name="item_price">{{i.item.price|floatformat}}</td>
					<td name="item_no">{{i.item_no|floatformat}}</td>
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td>总金额：</td>
					<td id="total_payment">{{total|floatformat}}</td>
				</tr>
			</tbody>
		</table>
		<div class="container">
			<form action="/accounting/cashier/bill/pay?income_id={{income.id}}" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-4">
						<label for="payment_method">支付方式：</label>
						<select class="custom-select" name="payment_method" id="payment_method" onchange="payment_method_alter()">
						{% for i in methods %}
							<option value="{{i.id}}"{% if current_method.payment.id == i.id %} id="current_method"{% endif %}>
								{{i.name}}
							</option>
						{% endfor %}
						</select>
					</div>
					<div class="col-4" id="payment_auth_method" hidden>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="payment_auth" id="payment_auth_1" onchange="auth_method_alter()" checked><label class="form-check-label" for="payment_auth_1">刷卡支付</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="payment_auth" id="payment_auth_2" onchange="auth_method_alter()"><label class="form-check-label" for="payment_auth_2">手机号/密码支付</label>
						</div>
					</div>
					<div class="col-4" id="payment_auth_card" hidden>
						<label for="vip_card_no">刷卡支付：</label>
						<input class="form-control" type="password" id="vip_card_no" name="vip_card_no" />
					</div>
					<div class="col-4" id="payment_auth_phone" hidden>
						<label for="phone_no">手机号：</label>
						<input class="form-control" type="input" id="phone_no" name="phone_no" />
						<label for="phone_password">密码：</label>
						<input class="form-control" type="password" id="phone_password" name="phone_password" />
					</div>
				</div>
				<div class="container text-center">
					<input type="hidden" name="payment_auth_method_selection" id="payment_auth_method_selection" value=""/>
					<button class="btn btn-success" name="pay">确认结账</button>
					<a href="/accounting/cashier/bill/" class="btn btn-secondary">返回</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}