{% extends "cashier_base.html" %}
{% load staticfiles %}
{% load accounting_extras %}
{% block content %}
<div style="background-color: white; padding: 30px;">
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="row">
					<h1 style="color: blue;">男浴</h1>
				</div>
				<div class="row">
			{% for i in male_range %}
			{% if i|mod:10 != 4 and i|div:10 != 4%}
				{% if male_record|return_item:i != 0 %}
					<a style="margin: 5px;" class="btn btn-lg btn-primary" href="/accounting/cashier/bill/edit?income_id={{male_record|return_item:i}}">{% if i < 9 %}0{% endif %}{{i|add:'1'}}号<br>手牌</a>
				{% else %}
					<form style="margin: 5px;" action="/accounting/cashier/bill/create/" method="POST">
							{% csrf_token %}
							<input type="hidden" name="card_no" value="{{i}}" />
							<input type="hidden" name="item_no" value="{{0}}" />
							<button class="btn btn-lg btn-outline-primary">{% if i < 9 %}0{% endif %}{{i|add:'1'}}号<br>手牌</button>
					</form>
				{% endif %}
			{% endif %}
			{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-1">
		</div>
		<div class="col-5">
			<div class="row">
				<div class="row">
					<h1 style="color: red;">女浴</h1>
				</div>
				<div class="row">
			{% for i in female_range %}
			{% if i|mod:10 != 4 and i|div:10 != 4%}
				{% if female_record|return_item:i != 0 %}
					<a style="margin: 5px;" class="btn btn-lg btn-danger" href="/accounting/cashier/bill/edit?income_id={{female_record|return_item:i}}">{% if i < 9 %}0{% endif %}{{i|add:'1'}}号<br>手牌</a>
				{% else %}
					<form style="margin: 5px;" action="/accounting/cashier/bill/create/" method="POST">
							{% csrf_token %}
							<input type="hidden" name="card_no" value="{{i}}" />
							<input type="hidden" name="item_no" value="{{1}}" />
							<button class="btn btn-lg btn-outline-danger">{% if i < 9 %}0{% endif %}{{i|add:'1'}}号<br>手牌</button>
					</form>
				{% endif %}
			{% endif %}
			{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}