{% extends "cashier_base.html" %}
{% load static %}
{% block content %}
<div class="container" style="background-color: white; padding: 30px;">
	<div class="row">
		{% for i in record %}
			<div class="card" style="width: 15rem;">
				<div class="card-header text-center">
					<h4>手牌：{{i.card_no}}</h4>
				</div>
				<div class="card-body">
					{% if i.gender == False %}
					<p>
						性别：男<br>
					</p>
					{% endif %}
				</div>
				<div class="card-footer text-center">
					<div class="row text-center">
						<a class="btn btn-primary" href="/accounting/cashier/bill/edit?income_id={{i.id}}">查看</a>
						<a class="btn btn-success" href="/accounting/cashier/bill/pay?income_id={{i.id}}">结账</a>
						<form id="form_{{i.id}}" action="/accounting/cashier/bill/" method="POST">
							{% csrf_token %} 
							<input type="hidden" id="income_id" name="income_id" value="{{i.id}}" />
							<input type="hidden" name="delete_element" value="delete_element" />
							<button class='btn btn-danger' type="button" name="delete_element" onclick="delete_element_method('form_{{i.id}}')">删除</button>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="card" style="width: 15rem;">
			<a href="/accounting/cashier/bill/create/">
				<img class="card-img-top" src="{%static 'images/add_button.jpeg'%}"/>
			</a>
		</div>
	</div>
</div>
{% endblock %}