{% extends "cashier_base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
	var options_innerHTML = {% for i in items%}"<option value='{{i.id}}'>{{i.name}}</option>" + {% endfor %} "";
	var staff_options_innerHTML = "<option value='0'>无</option>" + {% for i in staffs%}"<option value='{{i.id}}'>{{i.name}}</option>" + {% endfor %} "";
	var prices = new Map([{% for i in items%}[{{i.id}},{{i.price|floatformat}}],{% endfor %}]);
</script>
<div style="background-color: white; padding: 20px;">
	<div class="row" style="padding: 20px;">
		<div class="col-12 form-inline">
			<h3>{{income.card_no|add:'1'}}号顾客账单</h3>
			<form action="/accounting/cashier/bill/" id="form_{{income.id}}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="income_id" value="{{income.id}}" />
				<input type="hidden" name="delete_element"/>
				{% if deleteable %}
				<button class='btn btn-lg btn-danger' type="button" name="delete_element" onclick="delete_element_method('form_{{income.id}}')">销卡</button>
				{% endif %}
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
		<table class="table table-condensed table-bordered table-striped">
			<thead>
				<td>服务项目名称</td>
				<td>单价</td>
				<td>数量</td>
				<td>技师</td>
				<td>操作</td>
			</thead>
			<tbody>
				{% for i in services %}
				<tr>
					<td>{{i.item.name}}</td>
					<td>{{i.item.price|floatformat}}</td>
					<td>{{i.item_no|floatformat}}</td>
					<td>{{i.staff.name}}</td>
					<td>
						<form id="form_{{i.id}}" style="width: 100%;" action="/accounting/cashier/bill/edit?income_id={{income.id}}" method="POST">
						{% csrf_token %} 
							<input type="hidden" id="service_id" name="service_id" value="{{i.id}}" />
							<input type="hidden" name="delete_element" value="delete_element" />
							{% if current_user == i.recorder %}
							<button class='btn btn-danger' name="delete_element">删除</button>
							{% endif %}
						</form>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>总金额：</td>
					<td id="total_payment">{{total|floatformat}}</td>
				</tr>
			</tbody>
		</table>
		<div class="container">
			<form action="/accounting/cashier/bill/pay?income_id={{income.id}}" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-12">
						<input type="hidden" name="payment_method" id="payment_method" value="{{first_method.id}}"/>
						<input type="hidden" name="current_vip_method" id="current_vip_method" value="{{current_vip_method.payment.id}}"/>
						<input type="hidden" name="current_multi_method" id="current_multi_method" value="{{current_multi_method.payment.id}}"/>
						<label for="payment_method">支付方式：</label>
						{% for i in methods%}
							{% if i.id == first_method.id %}
							<button type="button" name="payment_select_button" class="btn btn-lg btn-primary" id="payment_select_button_{{i.id}}" onclick="payment_method_onclick({{i.id}})">{{i.name}}<br></button>
							{% else %}
							<button type="button" name="payment_select_button" class="btn btn-lg btn-outline-primary" id="payment_select_button_{{i.id}}" onclick="payment_method_onclick({{i.id}})">{{i.name}}<br></button>
							{% endif %}
						{% endfor %}
					</div>
					<div class="col-12" id="payment_multi_method" hidden>
						{% for i in methods%}
						{% if i.id != current_multi_method.payment.id%}
						<div class="row">
							<div class="col-3 border-bottom">
								<label>{{i.name}}:<br></label>
							</div>
							<div class="col-9 border-bottom">
							{% if i.id == current_vip_method.payment.id %}
							<input type='input' class='form-control' name="multi_vip_no" placeholder="会员卡号" />
							{% endif %}
							<input type='input' class='form-control' name="multi_id_{{i.id}}" placeholder="金额" value="0" />
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<div class="col-6" id="payment_auth_method" hidden>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="payment_auth" id="payment_auth_1" onchange="auth_method_alter()" checked><label class="form-check-label" for="payment_auth_1">刷卡支付</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="payment_auth" id="payment_auth_2" onchange="auth_method_alter()"><label class="form-check-label" for="payment_auth_2">手机号/密码支付</label>
						</div>
					</div>
					<div class="col-6" id="payment_auth_card" hidden>
						<label for="vip_card_no">刷卡支付：</label>
						<input class="form-control" type="input" id="vip_card_no" name="vip_card_no" />
					</div>
					<div class="col-6" id="payment_auth_phone" hidden>
						<label for="phone_no">手机号：</label>
						<input class="form-control" type="input" id="phone_no" name="phone_no" />
						<label for="phone_password">密码：</label>
						<input class="form-control" type="password" id="phone_password" name="phone_password" />
					</div>
				</div>
				<div class="container text-center">
					<input type="hidden" name="payment_auth_method_selection" id="payment_auth_method_selection" value=""/>
					<button class="btn btn-lg btn-success" name="pay">确认结账</button>
					<a href="/accounting/cashier/bill/" class="btn btn-lg btn-secondary">返回</a>
				</div>
			</form>
		</div>
		</div>
		<div class="col-1">
			<div class="row">
				<div class="col-12">
					<h4>选择技师</h4>
				</div>
			</div>
			<button type="button" name="staff_selection_button" {% if not previous_service or not previous_service.staff %}class="btn btn-lg btn-primary"{%else%}class="btn btn-lg btn-outline-primary"{%endif%} id="staff_selection_button_0" onclick="select_staff(0)">前台</button>
			{% for i in staffs %}
			<button type="button" name="staff_selection_button" {% if previous_service and previous_service.staff.id == i.id%}class="btn btn-lg btn-primary"{%else%}class="btn btn-lg btn-outline-primary"{%endif%} id="staff_selection_button_{{i.id}}" onclick="select_staff({{i.id}})">{{i.name}}</button>
			{% endfor %}
		</div>
		<div class="col-7">
			<div class="row">
				<div class="col-6">
					<h3>选择项目</h3>
				</div>
			</div>
			<form action="/accounting/cashier/bill/edit?income_id={{income.id}}" id="add_form" method="POST">
				{% csrf_token %} 	
				<input type="hidden" name="staff_selection" id="staff_selection_input" value="{%if previous_service%}{{previous_service.staff.id}}{%else%}0{%endif%}" />
				<input type="hidden" name="service_selection" id="service_selection_input" value="0" />
				<input type="hidden" name="add_element" value="add_element" />
				{% for i in items %}
				<button type="button" onclick="select_service({{i.id}})" class="btn btn-lg btn-outline-primary">{{i.name}}<br>价格：¥{{i.price|floatformat}}</button>
				{% endfor %}
			</form>
		</div>
	</div>
</div>
{% endblock %}