{% extends "cashier_base.html" %}
{% load staticfiles %}
{% block content %}
<div style="background-color: white; padding: 20px;">
	<div class="card" style="width: 30rem;">
		<div class="card-body">
			<div class="row">
				<p>会员号：{{vip.card_no}}</p>
			</div>
			<div class="row">
				<p>姓名：{{vip.holder}}</p>
			</div>
			<div class="row">
				<p>付款额：{{total|floatformat}}</p>
			</div>
			<div class="row">
				<p>联系方式：{{vip.phone}}</p>
			</div>
			<div class="row">
				<p>余额：{{vip.balance|floatformat}}</p>
			</div>
			<div class="row">
				<p>消费时间：{{time|date:"Y-m-d"}}</p>
			</div>
			<div class="row">
				<button class="btn btn-primary" onclick="window.print()">打印</button>
				<a href="/accounting/cashier/bill/" class="btn btn-lg btn-secondary">返回</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}