{% extends "cashier_base.html" %}
{% load static %}
{% block content %}
<div style="background-color: white; padding: 20px;">
	<div class="card" style="width: 30rem;">
		<div class="card-body">
			<div id="printable">
				<div class="row">
					<p>&nbsp&nbsp&nbsp&nbsp会员号：{{vip.card_no}}</p>
				</div>
				<div class="row">
					<p>&nbsp&nbsp&nbsp&nbsp姓名：{{vip.holder}}</p>
				</div>
				<div class="row">
					<p>&nbsp&nbsp&nbsp&nbsp付款额：{{total|floatformat}}</p>
				</div>
				<div class="row">
					<p>&nbsp&nbsp&nbsp&nbsp联系方式：{{vip.phone}}</p>
				</div>
				<div class="row">
					<p>&nbsp&nbsp&nbsp&nbsp余额：{{vip.balance|floatformat}}</p>
				</div>
				<div class="row">
					<p>&nbsp&nbsp&nbsp&nbsp消费时间：{{time|date:"Y-m-d"}}</p>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary" onclick="print_not_exit('printable')">打印</button>
				<a href="/accounting/cashier/bill/" class="btn btn-lg btn-secondary">返回</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}